@import url("/public/min/bootstrap.min.css");

.form-div {
  .form {
    .input-password {
      margin-top: 1rem;
      margin-bottom: 0.6rem;
    }

    .input-username {
      margin-top: 5%;
    }

    .btn-login {
      margin-top: 2.5rem;
    }

    .btn-register {
      margin-top: 0.5rem;
    }
  }
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 6px solid #99AAb5;
  background-clip: content-box;
}