<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= chatter %> | Inbox </title>
    <link rel="icon" type="image/png" href="/public/favicon.png" />
    <script src="/public/min/jquery.min.js"></script>
    <link rel="stylesheet" href="/public/css/chat.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <script>
      let client = '<%= user.username %>'
      let receiver = '<%= chatter %>'
    </script>
    <nav class="navbar p-2 fixed-top navbar-dark bg-dark d-block">
      <div class="d-flex mx-2 align-items-center">
        <div class="position-relative">
          <img 
          class="rounded-circle border mr-1" alt="" width="40" height="40"
          src=<%= Avatar(chatter) %>
          >
        </div>
        <div class="flex-grow-1 mx-2 pl-3">
          <span class="text mx-1 text-white"><b><%= chatter %></b></span>
        </div>
          <button id="home" class="btn flex-end btn-outline-primary my-2 mx-2 my-sm-0" type="button">
          <span class="text text-white">Home</span></button>
      </div>
    </nav>

    <main class="container-fluid">

          <div id="chats" class="chat-messages px-4 py-3">

            <% chats.forEach(chat =>{ %>

                  <% if(chat.from == user.username) { %>
                  
                  <div class="chat-message-right pb-4">
                      <img src=<%= Avatar(chat.from) %>
                      class="rounded-circle border border-dark mr-1" alt="" width="42" height="42">
                    <div class="flex-shrink-1 bg-primary text text-light rounded py-2 px-3 mr-3 mx-2">
                      <div class="mb-1"><em> <%= time(chat.created) %> at <%= new Date(chat.created).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) %> </em></div>
                      <b> <%= chat.body %> </b>
                    </div>
                  </div>

                <% } else { %>

                <div class="chat-message-left pb-4">
                  <div>
                    <img 
                    src=<%= Avatar(chat.from) %>
                    class="rounded-circle border border-dark mr-1" alt="" width="42" height="42">
                    <div class="small text-nowrap"><b><%= chat.from %></b></div>
                  </div>
                  <div class="flex-shrink-1 bg-light rounded py-2 px-3 mx-3">
                    <div class="mb-1"><em> <%= time(chat.created) %> at <%= new Date(chat.created).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) %> </em></div>
                    <b> <%= chat.body %> </b>
                  </div>
                </div>

                <% } 
              }) %>
        </div>

    <form id="mail" class="form bg bg-light fixed-bottom py-2 input-group">
      <input id="input" type="text" class="form-control px-2 mx-3" placeholder="Enter your message"/>
    <button type="submit" class="btn btn-primary mx-2">Send</button>
  </form>

</main>

<script src="/public/js/chat.js"></script>

</body>
</html>