<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel="icon" type="image/png" href="/public/favicon.png" />
    <link rel="stylesheet" href="/public/css/error.css" />
  </head>
  <body>
    <% 
      let ref = "Login"
      if(auth) ref = "Home"
    %>

    <nav class="navbar d-flex navbar-dark bg-dark justify-content-between">
      <div class="mx-2">
        <span class="text text-white flex-start mx-2">
          <%= name %>
        </span>
      </div>
        <button
        onclick="location.replace('/')"
        class="btn flex-end btn-outline-primary my-2 mx-2 my-sm-0" type="button">
          <span class="text text-white">
            <%= ref %>
          </span>
        </button>
    </nav>

    <div class="container mt-4">
      <h1>Error: <%= error.status || error.code %></h1>
      <p><%= error.message %></p>
      <button 
      onclick="location.replace('/')"
      class="btn btn-dark w-100 mt-4" type="button">
        <%= ref %>
      </button>
    </div>
  </body>
</html>
