<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
    <link rel="stylesheet" href="/public/css/error.css" />
    <title><%= name %></title>
  </head>
  <body>
    <% 
      let ref = "Login"
      if(auth) ref = "Home"
    %>

    <nav class="navbar d-flex navbar-dark bg-dark justify-content-between">
      <div class="mx-2">
        <img 
          class="rounded-circle mr-1" alt="" width="40" height="40"
          src="/public/favicon.png"
          >
        <span class="text text-white flex-start mx-2">
          <%= name %>
        </span>
      </div>
        <button
        onclick="location.replace('/')"
        class="btn flex-end btn-outline-primary my-2 mx-2 my-sm-0" type="button">
          <span class="text text-white">
            <%= ref %>
          </span>
        </button>
    </nav>

    <div class="container mt-4">
      <h1>Error: <%= error.status || error.code %></h1>
      <p><%= error.message %></p>
      <button 
      onclick="location.replace('/')"
      class="btn btn-dark w-100 mt-4" type="button">
        <%= ref %>
      </button>
    </div>
  </body>
</html>
