<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel="icon" type="image/png" href="/public/favicon.png" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
      defer
    ></script>
    <script src="/public/js/index.js" defer></script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <!-- <img 
            alt=""
            id="profile" 
            class="navbar-brand btn" 
            src=<%= image %> /> -->
      <button
        id="logout"
        class="btn btn-outline-success my-2 my-sm-0"
        type="button"
      >
        Logout
      </button>
    </nav>

    <main class="containertr">
      
    </main>
  </body>
</html>
