<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel="icon" type="image/png" href="/public/favicon.png" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
      defer
    ></script>
    <script src="/public/js/index.js" defer></script>
  </head>
  <body>
    <div class="container">
      <h1><%= name %></h1>
    </div>
    <div>
      <h1>Username: <%= user.username %></h1>
      <h1>UUID: <%= user.uuid %></h1>
    </div>
    <div>
      <button id="logout" class="btn btn-primary mt-2">Logout</button>
    </div>
  </body>
</html>
