<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/public/favicon.png" />
    <link rel="stylesheet" href="/public/css/profile.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
      defer
    ></script>
    <script src="/public/js/profile.js" defer></script>
    <title><%= user.username %> | <%= name %></title>
  </head>
  <body>
    Welcome <%= user.uuid %>

    <button id="logout" type="button" class="btn btn-primary w-100">
      Logout
    </button>
  </body>
</html>
